/* Estilo para el título "Iniciar sesión" */
.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para el formulario de inicio de sesión */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para los campos de entrada de texto */
.input-field {
  width: 100%;
  margin: 10px 0;
}

/* Estilo para el botón de inicio de sesión */
.login-button {
  width: 100%;
  margin-top: 20px;
}