/* Estilo para el contenedor principal */
.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para el card de inicio de sesión */
  .login-card {
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilo para el formulario de inicio de sesión */
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo para los campos de entrada de texto */
  .form-field {
    width: 100%;
    margin: 10px 0;
  }
  
  /* Estilo para el botón de inicio de sesión */
  .login-button {
    width: 100%;
    margin-top: 20px;
  }
  
  /* Estilo para el título "Iniciar sesión" */
  h2 {
    margin: 0;
  }
  