<h1 mat-dialog-title class="p-2">Crear Usuario</h1>
<div mat-dialog-content class="px-5" >
    <!-- Contenido -->
    <form [formGroup]="userForm">
        <div class="row-1">
            <!-- Control name -->
            <div class="col-6">
                <mat-form-field class="w-100, py-3" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input [formControlName]="'name'" matInput>
                    <mat-error>{{ userForm.get("name")?.errors | formErrors }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Control lastname -->
            <div class="col-6">
                <mat-form-field class="w-100, py-3" appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input [formControlName]="'lastName'" matInput>
                    <mat-error>{{ userForm.get("lastName")?.errors | formErrors }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Control mail -->
            <div class="col-6">
                <mat-form-field class="w-100, py-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [formControlName]="'email'" matInput>
                    <mat-error>{{ userForm.get("lastName")?.errors | formErrors }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Control age -->
            <div class="col">
                <mat-form-field class="w-100, py-3" appearance="outline">
                    <mat-label>Edad</mat-label>
                    <input [formControlName]="'age'" matInput>
                    <mat-error>{{ userForm.get("lastName")?.errors | formErrors }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Control course -->
            <div class="col">
                <mat-form-field class="w-100, py-3" appearance="outline">
                    <mat-label>Curso</mat-label>
                    <mat-select>
                        <mat-option value="ingles">Inglés</mat-option>
                        <mat-option value="chino">Chino</mat-option>
                        <mat-option value="japones">Japonés</mat-option>
                        <mat-option value="frances">Francés</mat-option>
                        <mat-option value="aleman">Alemán</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>

    <button [mat-dialog-close]="" mat-button>Cancelar</button>
    <button (click)="onSubmit()" mat-button>Guardar</button>
</div>
